@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

:root {

  --preto-principal: #000000;
  /* Preto Principal */
  --branco-detalhes: #FFFFFF;
  /* Branco para Texto e Detalhes */
  --amarelo-destaque: #FFCC00;
  /* Amarelo para Destaques */
  --vermelho-alerta: #FF0000;
  /* Vermelho para Alerta ou Perigo */
  --azul-escuro: #003366;
  /* Azul Escuro */
  --cinza-escuro: #333333;
  /* Cinza Escuro */
  --fonte-pixel: "Pixelify Sans", sans-serif;
}
@font-face {
  font-family: 'Pixel Operator';
  src: url('fonts/PixelOperator-Bold.ttf') format('truetype'); /* Use o formato correto aqui */
  font-weight: bold; /* Ajuste o peso se necessário */
  font-style: normal;
}

* {
  max-width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #072729, #003539 50%, #072729);
}

.cabecalho-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/*Logo*/
.cabecalho-imagem {
  height: 95px;
}

.cabecalho-menu-links a {
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
  font-family: var(--fonte-pixel);
  font-style: normal;
  color: var(--branco-detalhes);
}

.cabecalho-menu-links a:hover {
  color: var(--amarelo-destaque);
  transition: 2s;
}

.botao-container {
  cursor: pointer;
  position: relative;
}

.botao-conteudo-secundario {
  position: absolute;
  left: 5px;
  top: -50%;
  transform: translateY(-50%);
  background-color:  rgb(74, 199, 141);
  color: #fff;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 15px;
  font-family: var(--fonte-pixel);
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.botao-conteudo-secundario:hover {
  background-color:  rgb(68, 68, 68);
  color: var(--vermelho-alerta);
  transition: 3s;
}
.conteudo-secundario-linha {
  height: 10px;
  background: linear-gradient(to right,
      red, orange, yellow, green, blue, indigo, violet);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.imagem-Conteudo-secundario {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

}

/*conteudo principal em baixo do menu*/
.conteudo-principal-escrito-titulo {
  font-weight: 400;
  font-size: 64px;
  color: #0c0806;
}

.conteudo-principal-escrito-subtitulo {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.conteudo-secundario {
  margin: 10px;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.linha-vertical {
  margin: 3px;
  width: 5px;
  height:360px;
  background-color: rgb(17, 255, 144);
}
.conteudo-secundario-texto {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border-radius: 8px;
  color: #F0F0F0;
  overflow-y: auto;
}

.conteudo-secundario-texto p {
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Pixel Operator';

}

.conteudo-secundario-titulo {
  padding: 35px 0px 10px 15px;
  font-family: var(--fonte-pixel);
  font-size: 80px;
  color: #ffffff;
}

.conteudo-secundario-paragrafo {
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}

.conteudo-secundario-imagem {
  height: 95px;
}

.conteudo-secundario-game {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
}
.conteudo-secundario-game-img:hover{
  transform: scale(1.1);
  transition: 500ms linear;
}

.conteudo-secundario-game-img {
  border-radius: 10px;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgb(0, 0, 0);
}

.rodape-imagem {
  height: 100px;
  display: block;
  margin: 0 auto;
}